.contact {
  height: 100%;
  display: flex;
  padding-top: 15svh;

  justify-content: flex-end;
  z-index: 1;
  overflow: hidden;
  position: relative;

  transition: all 0.4s ease-out;

  &::after {
    content: "";
    height: 70%;
    width: 50%;
    min-width: 70rem;
    background: var(--col-redish);
    border-radius: 0.2rem;
    border-top-right-radius: 32px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;

    @media only screen and (max-width: $bp-tablet) {
      border-top-right-radius: 0;
    }
  }

  &__content {
    text-align: end;
    padding: 3%;

    &-socials {
      display: flex;
      flex-direction: column;
    }

    &-info {
      margin-right: 50vw;
      padding-top: 2vh;

      @media only screen and (max-width: $bp-desktop) {
        margin-right: 53vw;
      }

      @media only screen and (max-width: $bp-mobile) {
        margin-right: 0;
      }
    }
  }

  &__rights {
    position: absolute;
    right: 3%;
    bottom: 1%;
    padding-left: 3%;
    text-align: end;
  }
}
