// MARGINS

.mg-2 {
  margin-bottom: 2rem !important;
}
.mg-5 {
  margin-bottom: 5rem !important;
}
.mg-10 {
  margin-bottom: 10rem !important;
}

// HIDES

.hide {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.4s ease-out;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

// FONTS

.font-big {
  font-size: clamp(6rem, 4vw, 10rem);
  font-weight: 100;

  @media only screen and (max-width: $bp-desktop) {
    font-size: 4rem;
  }
}

.text-end {
  display: block;
  text-align: end;
}

// COLORS

.col-red {
  color: var(--col-text-red) !important;
}

.col-light {
  @media only screen and (max-width: $bp-desktop) {
    color: var(--col-light) !important;
  }
}

// POSITIONS

.top-right {
  position: absolute;
  right: 3%;
  top: 5%;
  z-index: 11;
}
