.info {
  height: 100%;
  width: 100%;
  z-index: 1;
  line-height: 1.7;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  position: relative;

  &::after {
    content: "";
    height: 70%;
    width: 50%;
    min-width: 70rem;
    background: var(--col-graysh);
    border-radius: 0.2rem;

    position: absolute;
    right: 3%;
    bottom: 0;
    z-index: -1;

    @media only screen and (max-width: $bp-desktop) {
      right: 0;
    }

    @media only screen and (max-width: $bp-tablet) {
      right: -45rem;
    }
  }

  .section-number {
    position: absolute;
    right: 3%;
    top: 5%;
    z-index: 11;
  }

  &__col {
    margin-right: 10%;

    &-heading {
      white-space: nowrap;
    }

    &-text {
      span {
        display: block;
        white-space: nowrap;
      }
    }
  }
}
